body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.input {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    text-align: center;
}

input {
    border: 0;
    margin: 10px;
    width: 300px;
    font-size: 1.2em;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

select {
    border: 0px;
    appearance: none;
    margin: 10px;
    width: 300px;
    font-size: 1.2em;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px;
}

.singular_APD {
    display: grid;
    grid-gap : 1rem;
    justify-content: center;
}

.singularity {
    border: 0px solid;
    width: auto;
}

.singularity img {
    width: 100px;
    background-color: white;
}

.singularity p {
    text-align: center;
}

figcaption {
    text-align: center;
}

@media (min-width: 500px) {
    .singular_APD {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .singular_APD {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .singular_APD {
        grid-template-columns: repeat(4, 1fr);
    }
}